**/*.ts

.circleci
.github
.husky
.nyc_output
.vscode
coverage
test
.editorconfig
.env.example
.gitignore
.npmignore
.npmrc
.nvmrc
.nycrc
.prettierrc
.sequelizerc
LICENCE
README.md
tsconfig.json

**/ota.db
.env