{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "dist/src/**/*",
    "src/**/*"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.d.ts",
    "**/orm/**/*",
    "**/workers/**/*",
    "**/hooks/**/*"
  ],
  "sourcemap": true,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "statements": 100
}
