{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "dist/src/**/*",
    "src/**/*"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.d.ts",
    "**/orm/**/*",
    "**/workers/**/*",
    "**/hooks/**/*",
    "**/container.ts",
    "src/app/index.ts",
    "**/controllers/index.ts",
    "**/hooks/index.ts",
    "**/workers/index.ts",
    "**/lib/socket-io.ts",
    "**/lib/plugin/**/*",
    "**/lib/socket-io/*.ts",
    "**/plugins/sensors/index.ts",
    "**/plugins/actors/index.ts",
    "**/plugins/index.ts",
    "**/lib/base-validator.ts",
    "**/errors/*.ts"
  ],
  "sourcemap": false,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "statements": 100
}
