{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "**/*.spec.js"
  ],
  "sourcemap": true,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "statements": 100
}
